*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(18, 22, 32);
    scroll-behavior: smooth;
}
.menu-open body {
    overflow: hidden;
}

.header{
    z-index: 8;
    position: fixed;
    width: 100%;
    transition: all 0.3s ease;
    font-family: 'Chivo Mono', monospace;
    font-weight: 200;
}
.header.sticky{
    background: rgb(18, 22, 32);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.header li{
    list-style: none;
}
.header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
}

.navmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navlogo{
    font-size: 40px;
    z-index: 10;
}

.navlink{
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    letter-spacing: 0.2px;
    padding: 0 8px;
}
.navlink::before{
    transition: 0.3s ease;
    content: "";
    position: absolute;
    background: rgb(255, 255, 255);
    height: 1px;
    width: 0;
    left: 50%;
    right: 50%;
    bottom: -2px;
    background: rgb(0, 255, 229);
}
.navlink:hover::before{
    width: 100%;
    background: rgb(0, 255, 229);
    left: 0;
    right: 0;
    opacity: 1;

}

.lines{
    z-index: 10;
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: write;
    background: white;
    font-family: 'Chivo Mono', monospace;
}

@media(max-width: 850px) {

    .menu-open .lines .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .menu-open .lines .bar:nth-child(2) {
        transform: translateY(-8px) rotate(-45deg);
        margin-top: 13px;
    }

    .navlink{
        font-size: 30px;
        padding: 0 8px;
    }
    .navlink::before{
        bottom: -2px;
        height: 1px;
    }

    .navmenu{
        position: fixed;
        height: 100vh;
        left: 100%;
        top: 0;
        gap: 0;
        flex-direction: column;
        background: rgb(18, 22, 32);
        width: 100%;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
    }

    .navitem{
        margin: 80px;
        font-size: 30px;
    }

    .menu-open .navmenu{
        left: 0%;
        width: 100%;
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
}

@media(max-height: 770px) {
    .navitem{
        margin: 60px;
        font-size: 25px;
    } 
}

.lines{
    display: none;
    cursor: pointer;
}

.bar{
    border-radius: 5px;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: write;
    background: white;
}

@media(max-width: 850px) {
    .lines{
        display: block;
    }

    .menu-open .lines .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-open .lines .bar:nth-child(2) {
        transform: translateY(-8px) rotate(-45deg);

    }
    .navlink{
        font-size: 30px;
        padding: 0 8px;

    }
    .navlink::before{
        bottom: -2px;
        height: 1px;

    }

    .menu-open .navmenu{
        position: fixed;
        left: 100%;
        top: 0;
        gap: 0;
        flex-direction: column;
        background: rgb(18, 22, 32);
        width: 100%;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease;
        height: 100vh;
        margin: 0;
    }

    .navitem{
        margin: 80px;
        font-size: 30px;
    }

    .menu-open .navmenu{
        left: 0%;
        width: 100%;
    }
}

@media(max-height: 770px) {
    .navitem{
        margin: 60px;
        font-size: 25px;
    } 
}

.page{
    height: 100vh;
    width: 100%;
}